
body.home {
  background-color: rgb(39, 13, 112);
  background-image: url("home_img/home_backgroundImage2.jpg");
  background-size: cover;
}

.catalog{
  display: table;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;   /* Unknow effect */
}
.catalog li {
  float: left;
  background-color: #208DBC;
}

.catalog li a {
  display: block;
  color: #cef2f5;
  text-align: center;
  padding: 8px 70px;

  text-decoration: none;
  font-family: 微軟正黑體;
  font-size: 20px;
}

.catalog li .catalog_home {
  background-color: #186c90;
}

ul li a:hover:not(.catalog_home) {
  background-color: #156183;
}

.title {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 250px;
  width: 600px;
  margin-top: -125px;
  margin-left: -300px;
  font-family: 微軟正黑體;
  font-size: 200px;
  color: rgb(8, 19, 54);
}
