body {background-image: url("../background_Img/b001.gif"); font-family:微軟正黑體;}
.w3-top {
	background-color: white;
}
.pics {
	width:  80%;
  margin-top: 100px;
	margin-bottom: 20px;
	margin-left: auto;
	margin-right: auto;
  z-index: 0;
}

.pics img {
  padding: 5px;
  border:  1px solid #ccc;
  background-color: #eee;
  margin-left: 70px;
  width: 80%;
  height: 400px;
}

.view_div {
	margin-top: 50px;
	margin-bottom: 20px;
	margin-left: auto;
	margin-right: auto;
  width: 70%;
  z-index: 0;
}
.view_div table{
  border-collapse: collapse;
  margin-left: 100px;
  width: 30%;
  float: left;
}
.view_div tr:hover {background-color: #D6E8FF}
.view_div tr {padding: 15px;}
.view_div td {border-bottom: 1px solid #ddd; text-align: left;}

.view_info div {background-color: #D6E8FF; padding: 10px;}
.view_info a:link {text-decoration: none;}
.view_info a:hover {text-decoration: underline; color: blue;}

#Peace_Island_text, #nightmarket_text, #museum_text, #Jiu_Fen_text, #Lotus_Valley_text, #Keelung_port_text {
  width: 45%;
  padding-bottom: 20px;
  border-radius: 25px;
  display: none;
  float: left;
}
