body {
  background-image: url(backgroundImage.jpg);

}
.w3-top {
  background-color: white;
}

.component {
	line-height: 1.5em;
	margin: 40px auto 0 auto;
	padding: 2em 0 3em 0;
	width: 90%;
	overflow: hidden;
  font-family: 微軟正黑體;
}

.housePS {
  margin: 8px auto 0 auto;
  width: 90%;
  font-family: 微軟正黑體;
}

.th_hover:hover {
  background-color: #27966b;
}

table {
    border-collapse: collapse;
    margin-bottom: 3em;
    width: 100%;
    background: #fff;
}
td, th {
    padding: 0.75em 1.5em;
    text-align: left;
}
.textAlignRight {
  text-align: right;
}
th {
    background-color: #31bc86;
    font-weight: bold;
    color: #fff;
    white-space: nowrap;
}
tbody th {
	background-color: #2ea879;
}
tbody tr:nth-child(2n-1) {
    background-color: #f5f5f5;
    transition: all .125s ease-in-out;
}
tbody tr:hover {
    background-color: rgba(129,208,177,.3);
}
